.layout-container {
    display: flex;
    min-height: 100vh;
}

.main-wrapper {
    flex: 1;
    margin-left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-app);
}

.main-content {
    flex: 1;
    padding: 32px;
    overflow-y: auto;
}